<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGGEA04hIkZL3xb_nFQVZYxMG8KsenL4s</string>
	<key>GCM_SENDER_ID</key>
	<string>53476781378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unam.Care</string>
	<key>PROJECT_ID</key>
	<string>careapp-820ef</string>
	<key>STORAGE_BUCKET</key>
	<string>careapp-820ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53476781378:ios:5c03703518fc96d5ac6cdb</string>
</dict>
</plist>